*.bin
*.dix
*.in
*.in~
*.la
*.lo
*.o
*.out
*.pc
*.pyc

**/Makefile
**/stamp-h1

**/.deps/
**/.libs/

/autom4te.cache/

/INSTALL
/Makefile
/aclocal.m4
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing

/lttoolbox/lt-comp
/lttoolbox/lt-expand
/lttoolbox/lt-print
/lttoolbox/lt-proc
/lttoolbox/lt-tmxcomp
/lttoolbox/lt-tmxproc
/lttoolbox/lt-trim
/lttoolbox/lttoolbox_config.h
